<!DOCTYPE html>

<html>
  <link rel="icon" href="https://raw.githubusercontent.com/nyvietnam/mjml/main/855s.ico" />
  <meta property="og:title" content="855's blog">
  <meta property="og:description" content="855's blog - Góc cá nhân của @nguyenhuythai">
  <meta property="og:image" content="https://raw.githubusercontent.com/nyvietnam/mjml/main/thumbnail-855s.png">
  <meta property="og:url" content="https://huythai855.github.io/">
  <meta property="og:type" content="website">

{% include head.html %}

<body>

  {% include navbar.html %}

  {{ content }}

  {% include footer.html %}

  {% include scripts.html %}

  {% include google-analytics.html %}

</body>

</html>
