---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>




  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <h1>Hi, I'm Charlie 🙋</h1>
        <q><i>The difference between ordinary and extraordinary is that little extra.</i></q> <i>- JS</i>
      
        <p>__</p>
        <p class="mb-5">Xin chào, mình là Thái, sinh viên "chuẩn bị tốt nghiệp" trường Đại học Công nghệ, Đại học Quốc gia Hà Nội. Hiện tại, mình đang đảm nhiệm vị trí Core Engineer tại FPT Smart Cloud, thuộc tập đoàn FPT. Trong công việc, mình tập trung và mong muốn học hỏi, trao đổi về: Cloud Computing, MLOps, System Architecture và Artificial Intelligence.</p>
      
        <p class="mb-5">Mình là người thích tìm tòi, khám phá, yêu công nghệ, luôn muốn mang công nghệ đến gần hơn với cuộc sống của chúng ta. Những lúc rảnh, mình thích đọc sách, xem đá bóng, nấu ăn và đi khám phá những vùng đất mới.</p>
      
        <p class="mb-5">Đây là blog cá nhân của mình, nơi chia sẻ những tâm tư, suy nghĩ, bài học, tầm nhìn, khám phá, nhận định của mình ở một version "nhiều chữ" hơn những lúc thường ngày (ngoài đời nhiều lúc mình cũng hướng nội lắm 😛). Nếu có cơ hội ghé qua và đọc những dòng này, đó chắc hẳn là tín hiệu vũ trụ gửi đến bạn trong ngày hôm nay, biết đâu bạn sẽ khám phá được nhiều góc nhìn mới lạ, đôi khi dở dở, hâm hâm từ những bài viết của mình thì sao, hehe. Check it out!</p>

        <p class="mb-5"> <i>Fun fact: mình có một public github repo có số star nhiều hơn cả số tuổi của mình 😎</i></p>
 



      </div>
    </div>
  </div>
